
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #f9f9f9;
  --text-color: #111;
  --main-color: #007f73;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  background: linear-gradient(135deg, #e0fff9, #f9f9f9);
  color: var(--text-color);
}
.header {
  position: fixed;
  width: 100%;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8%;
  z-index: 100;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.logo {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}

.navbar a {
  color: #fff;
  margin-left: 2rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: white;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-img img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 30px var(--main-color);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 2.5rem;
}

.home-content h1 {
  font-size: 4.5rem;
  color: var(--main-color);
}

.home-content p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  line-height: 1.6;
}

.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  font-size: 2rem;
  margin: 0.5rem;
  transition: 0.3s;
}

.social a:hover {
  background: var(--main-color);
  color: #fff;
  box-shadow: 0 0 15px var(--main-color);
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.btn:hover {
  background: #00695c;
  box-shadow: 0 0 20px var(--main-color);
}

.about {
  text-align: center;
}

.about .heading {
  font-size: 3rem;
  margin-bottom: 4rem;
  color:#00695c;
}

.about p {
  max-width: 7000px;
  margin: auto;
  font-size: 1.4rem;
  line-height: 1.5;
   text-align: left;
}

.contact {
  text-align: center;
}

.contact .heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  color:#00695c;
}

.contact-info p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.contact-info i {
  color: var(--main-color);
  margin-right: 8px;
}

/* Footer */
.footer {
  background: var(--main-color);
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.4rem;
}
